<div class="container">
  <div class="box">

    {{!-- The action and the method are important --}}
    <form action="/artists" method="get">

      {{!-- If the user type "Max", it will add in the url: "q=Max" --}}
      <input type="text" name="q">

      <button type="submit">Search for an Artist</button>
    </form>

  </div>
</div>